@use "barchart/variable";

.container__aboutme {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 4em;
  margin: auto;

  .contaner__aboutme_info {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    background: red;
    gap: 2em;
    

    .aboutme__img {
      img {
        width: 500px;
        height: 750px;
        border-radius: 60%;
        border: 3px solid rgb(21, 214, 21);
      }
    }

    .aboutme__info{
        display: flex;
        flex-flow: column wrap;
        gap: 1em;

        h1{
            font-family: variable.$title-font;
        }

        p{
            font-family:variable.$description-font; ;
        }
    }
  }
}
