@use "barchart/variable";
.container__checkout {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 3em;

  .checkout__avocados {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .checkout__avo {
      display: flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      height: 5em;
      width: 24em;
      justify-content: space-around;
      position: relative;
      gap: 1em;

      img {
        width: 3.6em;
        height: 3.6em;
      }

      h3 {
        font-size: 0.8em;
        font-family: variable.$title-font;
      }

      p {
        font-size: 0.8em;
        font-family: variable.$title-font;
      }

      .checkout__trash {
        background-color: green($color: #000000);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .checkout__subtotal {
    padding-top: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    width: 19em;
    height: 20em;
    border-radius: 10px;
    background-color: rgb(251, 246, 246);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    .checkout__label {
      display: flex;
      align-items: center;
      gap: 9em;
      h1 {
        font-family: variable.$title-font;
        font-size: 1em;
      }

      p {
        font-family: variable.$description-font;
      }
    }

    .checkout__seller {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.8em;
    }

    button {
      background-color: #65dd75;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-family: "Koulen", cursive;
      font-size: 1.5em;
      width: 60%;
      margin: auto;
      height: 2em;
      max-height: 3em;
      transition: all 300ms;

      &:hover {
        cursor: pointer;
        background-color: rgb(69, 182, 98);
      }
    }
  }
}

@media screen and (max-width: 1230px) {
  .container__checkout {
    gap: 1em;

    .checkout__subtotal {
      padding-top: 0.7em;
      gap: 0.7em;
      width: 17em;
      height: 19em;

      .checkout__label {
        gap: 7em;
        h1 {
          font-family: variable.$title-font;
          font-size: 0.9em;
        }
      }

      button {
        font-size: 1.2em;
        width: 50%;
        height: 2em;
        max-height: 3em;
      }
    }
  }
}

@media screen and (max-width: 1115px) {
  .container__checkout {
    flex-direction: column;
  }
}




@media screen and (max-width: 1090px) {
  .container__checkout {
    .checkout__subtotal {
      padding-top: 0.7em;
      gap: 0.6em;
      width: 17em;
      height: 19em;

      .checkout__label {
        gap: 5em;
        h1 {
          font-family: variable.$title-font;
          font-size: 0.9em;
        }
      }

      button {
        font-size: 1.2em;
        width: 50%;
        height: 2em;
        max-height: 3em;
      }
    }
  }
}


